.preview_article {
  padding-bottom: 20px;
  .cover {
    height: 130px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .description {
    height: 70px;
  }
  .read_more {
    margin-bottom: 10px;
  }
  span {
    color: $text-muted;
  }
}

//form//
form {
  label {
    font-size: 16px;
  }
  .title_field {
    margin-bottom: 20px;
    input {
      width: 300px;
      display: inline-block;
      margin-left: 20px;
    }
  }
}
