.preview_article {
  background-color: white;
  margin-bottom: 25px;
  height: 240px;
  .cover {
    overflow: hidden;
    height: 240px;
    position: relative;
    img {
      width: 100%;
      transform: translateY(-50%);
      height: auto;
      top: 50%;
      position: absolute;
    }
  }
  .read_more {
    margin-bottom: 10px;
  }
  span {
    color: $text-muted;
  }
  .btn-group {
    margin-bottom: 10px;
  }
}

//form//
form {
  label {
    font-size: 16px;
  }
  .title_field, .check_field {
    display: inline-block;
  }
  .check_field {
    label {
      margin-right: 10px;
    }
  }
  .title_field {
    margin: 0 20px 20px 0;
    input {
      width: 300px;
      display: inline-block;
      margin-left: 20px;
    }
  }
  .cover_field {
    margin-bottom: 20px;
  }
}
