html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: $text-color;
  background-color: $bg-color;
}
h1, h2, h3, h4 {
  font-family: 'Crete Round', serif;
}

.container {
  min-height: 100%;
  margin-bottom: -50px;
}
.container:after {
  content: "";
  display: block;
}
footer, .container:after {
  height: 50px;
}

h2, h3, a, label {
  color: $title-color;
}
a:hover, a:focus {
  text-decoration: none;
  color: $link-hover;
}

.content {
  padding: 10px 40px;
}

.white {
  background-color: white;
}


/////header/////

header {
  height: 270px;
  padding: 15px;
  position: relative;
  .logo {
    position: relative;
    .image, .title {
      position: absolute;
    }
    .cloud {
      width: 280px;
      img {
        width: inherit;
      }
    }
    .parachute {
      left: 35px;
      top: 55px;
    }
    .title {
      top: 40px;
      width: 100px;
      left: 155px;
    }
  }
  .quote {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    text-align: right;
    p {
      color: $text-muted;
      font-size: 18px;
      font-style: italic;
    }
  }
}

////footer////

footer {
  height: 50px;
  .copyright {
    padding-top: 15px;
    text-align: center;
  }
}

////sidebar////

.sidebar {
  background-color: white;
  .block {
    padding-bottom: 10px;
  }
  img {
    width: 100%;
  }
  .information {
    margin-top: 15px;
  }
  .btn-group {
    margin-bottom: 10px;
  }
}



